body
{
    color : white;
    background-image : url("https://cdn.pixabay.com/photo/2017/04/05/01/20/wood-2203740_1280.jpg");
    background-size : 100%;
}
#header, #footer
{
    font-family: Garamond, cursive;
    padding : 5px;
}
a
{
    font-size : 1.4rem;
    color: white;
}
a:hover
{
    color : #FFD77F;
}
#wrapper
{
    display : grid;
    grid-template-rows : repeat(5, auto);
}

#header
{
    grid-row : 1 / 2;
    display : grid;
    grid-template-columns: 20% 60% 20%;
    background-color: black;
}
#logo
{
    /*display: inline;*/
    grid-column: 1 / 2;
    background-image : url("https://cdn.pixabay.com/photo/2012/04/01/16/51/pizza-23477_960_720.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;

    margin-left : 5px;
    margin-top: 5px;
}
#ul
{
    grid-column: 2 / 3;
    display: inline-block;

    text-align : center;
}
#header ul
{
    margin-left : auto;
    margin-right : auto;
}
#header ul li
{
    display: inline;
    margin-left : 5px;
    margin-right : 5px;
}
#tel
{
    grid-column: 3 / 4;
    display : inline;
    margin-top: auto;
    margin-bottom: auto;
}

#banner
{
    grid-row : 2 / 3;
    display : grid;
    grid-template-columns: repeat(2, 50%);
    background-color: black;

    font-family: Arial;
}
#bannercontent
{
    grid-column : 1 / 2;

    background-color : black;

    padding-bottom : 8%;
    margin-left : 5%;
}
#orbu
{
    color : #7FD7FF;
    border-color : #7FD7FF;

    background-color : rgba(255, 255, 255, 0);
    text-transform: uppercase;
    font-family : Arial;
    padding : 1%;
    border-width: 1px;

    margin-right : 1px;
}
#rebu
{
    color : #FFD77F;
    border-color : #FFD77F;
    background-color : #936c02;
    text-transform: uppercase;
    font-family : Arial;
    padding : 1%;
    border-width: 1px;

    margin-left : 1px;
}
#bannercontent button:hover
{
    color : #333333;
    border-color : #333333;
    background-color :rgba(255, 255, 255, 0);

    cursor:pointer;
}
#bannerbg
{
    grid-column : 2 / 3;

    background-color: black;
    background-image : url("https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_1280.jpg");
    background-position : center;
    background-size: 100%;
}
#nt
{
    width : 42%;
    border-bottom : white solid 1px;
    margin-bottom : 6px;
}
#nt p
{
    margin-bottom : 1px;
}

#gallery
{
    display : grid;
    grid-template-columns : 4% 28% 4% 28% 4% 28% 4%;
    grid-row : 3 / 4;
    
    margin-top : 2%;
    margin-bottom : 2%;

    font-family: Arial;
}
#gallery div
{
    border : 4px solid black;
}
#bn1
{
    grid-column : 2 / 3;
    background-image : url("https://cdn.pixabay.com/photo/2016/05/24/13/29/olive-oil-1412361__340.jpg");
    background-size : 120%;
    background-position : center;
}
#bn2
{
    grid-column : 4 / 5;
    background-image: url("https://cdn.pixabay.com/photo/2016/05/06/12/15/cook-1375788_960_720.jpg");
    background-size : 120%;
    background-position : center;
}
#bn3
{
    grid-column : 6 / 7;
    background-image: url("https://cdn.pixabay.com/photo/2020/02/10/18/31/motor-scooter-4837310_960_720.jpg");
    background-size : 100%;
    background-position : center;
}
.glp
{
    text-align : right;
    word-spacing : 200vw;
    padding-top : 10%;
    margin-right: 10px;
}

#menu
{
    grid-row : 4 / 5;

    display : grid;
    grid-template-columns: 4% 20% 4% 20% 4% 20% 4% 20% 4%/*repeat(4, 25%)*/;
    background-color: black;

    text-align: center;
    font-family: Arial;
}
#pr1
{
    grid-column : 2 / 3;
    margin-top : 4%;
}
#pr2
{
    grid-column : 4 / 5;
    margin-top : 4%;
}
#pr3
{
    grid-column : 6 / 7;
    margin-top : 4%;
}
#pr4
{
    grid-column : 8 / 9;
    margin-top : 4%;
}
.menuimg
{
    width : 100%;
    height : auto;
}

#footer
{
    grid-row : 5 / 6;

    text-align: center;

    background-color: black;

    margin-bottom: 2%;
}
#footer ul li
{
    display : inline;
    margin-left : 12px;
    margin-right: 12px;
}